html::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('assets/starfall.gif');
    background-color: #313244;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    filter: blur(5px);
    z-index: -2;
}
html {
    background-image: url('assets/starfall.gif');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    color: #A3B9D1;
    background-color: #313244;
    background-size: cover;
    justify-content: center;
    height: 100%;
    align-content: center;
    margin: 0;
    font-family: Gill Sans, sans-serif;
}
div.container {
    background-color: rgba(0, 51, 102, 0.1);
    margin: auto;
    padding: 10px;
    width: 60%;
    max-width: 750px;
    text-align: center;
    border-style: outset;
    border-width: 1px;
    border-radius: 10px;
    border-color: rgba(0, 49, 83, 0.3);
    /* opacity: 70%; */
    font-size: large;
    backdrop-filter: blur(25px);
    box-shadow: 1px 1px 2px black, 0 0 25px #13274F, 0 0 10px rgba(0, 34, 68, 1);
}
h1 {
    text-shadow: 2px 2px 5px #483D8B;
    font-style: oblique;
}
hr {
    border-width: 2px 0 0 0;
    border-color: rgba(176, 196, 222, 0.5);
}
img {
    max-width: 100%;
}
img.left {
    padding: 5px;
    width: 150px;
    float: left;
    padding: 5px;
    border-radius: 10px;
    box-shadow: #003153;
}
div.textcontainer{
    padding: 10px;
    text-align: start;
}
footer {
    align-items: center;
    align-content: center;
    text-align: center;
    font-size: x-large;
}

ul.horizontal-list {
    list-style: none;
}

ul.horizontal-list li {
    display: inline-block;
    padding: 0 0.5rem;
}
ul.horizontal-list li:not(:last-child) {
    border-right: 1px solid #002147;
}
a {
    color: #A3B9D1;
}
a:hover {
    text-shadow: 1px 1px 2px #002147, 0 0 25px blue, 0 0 5px cyan;
}
a.list {
    color: #A3B9D1;
    text-decoration: none;
}
a.list:hover {
    text-shadow: 1px 1px 2px #002147, 0 0 25px blue, 0 0 5px cyan;
    border-style: outset;
}
li.none {
    list-style: none;
}
li.list {
    font-size: 24px;
    text-align: center;
    list-style: none;
    padding: 5px;
}
li.list div {
    padding-bottom: 10px;
}
div.blog {
    background-color: #003366;
    margin: auto;
    padding: 10px;
    width: 70%;
    max-width: 1000px;
    text-align: center;
    border-style: outset;
    border-width: 5px;
    border-radius: 5px;
    border-color: #003153;
    opacity: 70%;
    font-size: large;
}
::-moz-selection { /* Code for Firefox */
    color: #0b236d;
    background: #c2a5c3;
}
  
::selection {
    color: #0b236d;
    background: #c2a5c3;
}

div.blog {
    background-color: rgba(0, 51, 102, 0.1);
    margin: auto;
    padding: 10px;
    width: 75%;
    text-align: center;
    border-style: outset;
    border-width: 1px;
    border-radius: 10px;
    border-color: rgba(0, 49, 83, 0.3);
    /* opacity: 70%; */
    font-size: large;
    backdrop-filter: blur(25px);
    box-shadow: 1px 1px 2px black, 0 0 25px #13274F, 0 0 10px rgba(0, 34, 68, 1);
}
img.backright {
    position: fixed;
    bottom: 10px;
    right: 20px;
    z-index: -1;
    width: 150px;
    height: auto;
}
pre code {
    display: block;
    overflow-x: auto;
    word-wrap: break-word;
    -webkit-overflow-scrolling: touch;
    width: 100%;
}
pre {
    width: 100%;
    padding: 2px;
    font-size: large;
    border: #A3B9D1;
    border-style: dotted;
    border-width: 3px;
    background-color: #002147;
}
::-webkit-scrollbar {
    width: 5px;
}
::-webkit-scrollbar-thumb {
    background: #01134e;
}
::-webkit-scrollbar-thumb:hover {
    background: #0b236d;
    scrollbar-shadow-color: #A3B9D1;
}